[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "external/vulkan-headers"]
	path = external/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "core"]
	path = core
	url = git@github.com:dpyte/watchdog-core.git
[submodule "models"]
	path = models
	url = git@github.com:dpyte/models-openads.git
