
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: white;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.ActivityCenter {
  color: white;
  background-color: black;
  height: 96vh;
}

.ActivityCenter:ActivityListener {
  right: 80%;
  border-radius: 0px 8px 0px 16px;
}


.ActivityCenter:EventListener {
  left: 20%;
  border-right: 96vh;
  border-width: 2px;
  border-color: aliceblue;
  border-radius: 8px 0px 16px 0px;
}

