
.NavigationPane {
    overflow: hidden;
    background-color: rgb(255, 255, 255); 
    justify-content: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 5.6%;
    display: inline;
    border-radius: 10px 10px 0px 0px;
    height: 7vh;
}

.NavigationPane a {
    float: left;
    display: inline;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

.NavigationPane a.NavButton {
    display: inline-block;
    width: 100%;
    height: 100%;
} 